@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}



@keyframes scrollLeft {
  to {
    left: -200px;
  }
}
.wrapper {
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 100px;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

.item {
  width: 200px;                      
  height: 100px;
  background-color: none;
  background-image: url('https://www.yeniklasor.com/datas/yuklemeler1/14098-cin_ali_gif.gif');
  background-size: 120px;
  border-radius: 6px;
  position:absolute;
  left: max(calc(200px * 8), 100%);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  
}

.item1 {
  animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.item5 {
  animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.item6 {
  animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.item7 {
  animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.item8 {
  animation-delay: calc(30s / 8 * (8 - 8) * -1);
}
.button{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 100px;
    margin-right: 250px;
     border: 2px solid black;
    border-radius: 20px;
    padding-bottom: 30px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border-left-width: 4px;
    margin-left: 480px;
    border-right-width: 4px;
    background-color: aliceblue;

}
body{
  background-image: url('https://www.shutterstock.com/shutterstock/photos/659530555/display_1500/stock-vector-question-mark-seamless-pattern-vector-seamless-pattern-with-question-marks-monochrome-hipster-659530555.jpg');
  position: absolute;
  background-repeat:no-repeat;
}
.btn{
 width: 120px;
 font-size: medium;
 color: blueviolet;
 background-color: bisque;
 border-radius: 20px;
 border:none;
 transition: background-color 1.2s ease , transform 1.3s ease ;
 margin-top: 25px;
}
.paragh{
    color: blueviolet;
    font-size: x-large;
}

.btn:hover{
    transform: scale(1.5);
    background-color: #00FFFF;
}