@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
:root{
    --text-color: #fff;
    --main-color: #222327;
}
header{
    position:fixed;
    width:100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:transparent;
    padding:28px 12%;
    transition: all .50s ease;
}

.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo i {
    color: var(--main-color);
    font-size: 28px;
    margin-right: 3px;
}

.logo span {
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 600;
  }

.navbar{
    display:flex;
}
.navbar a{
  color: #fff;
  text-decoration: none;
}
.navbar a:hover{
   color:#e56427 ;
}
.navbar li{
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin:0px 30px;
    cursor: pointer;
}
.navbar li.a{
   text-decoration: none;
}
.navbar li:hover{
    color: var(--main-color);
}
.navbar li.active{
    color: #e56427;
}

.main{
    display:flex;
    align-items: center;
}
.main a{
    margin-right: 25px;
    margin-left: 10px;
    color:#0b0d15;
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    transition: color 1.3s ease-in-out
}
.main a:hover{
 color:#e9c73d
}

.user{
    display:flex;
    align-items: center;
}
.user i{
    color: var(--main-color);
    font-size: 28px;
    margin-right: 7px;
}
#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    cursor:pointer;
    z-index: 10001;
    display: none;
}
@media (max-width: 1280px){
    header{
        padding: 14px 2%;
        transition: .2s; 
    }
    .navbar li{
        padding: 5px 0;
        margin:0px 20px;
    }
}
@media (max-width:1090px){
    #menu-icon{
        display:block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 29vh;
        background: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }
    .navbar li{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }
    .navbar li:hover{
        color: var(--text-color);
        transform: translateY(5px);
    }
    .navbar li.active{
        color: var(--text-color);
    }
    .navbar.open{
        right: 2%;
    }
}

body {
display: flex;
justify-content:center ;
align-items: center;
position: relative;
background: linear-gradient(to right , #333399,#FF00CC );
}
.body.active{
  background: linear-gradient(to right, rgb(16, 127, 179) , rgb(162, 40, 78));
}
.body.active1{
  background: linear-gradient(to right ,#00BFFF ,#FF1493);
}
.body.active2{ 
  background: linear-gradient(to left ,rgb(64, 59, 59) ,#565def);
}
.body.add{
  background-image: url('backgroundnew2.jpg');
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.body.add1{
  background-image: url('backgrounnew5.jpg');
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
.body.add2{
 background-image: url('backgroundnew9.jpg');                
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
h1{
background-position: center;
background-repeat: no-repeat;
position: relative;
background-size: cover;
position: relative;


}
.container {
   margin-top: 150px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.container2{
  margin-top: 100px;
}
.form-box.active {
    justify-content: center;
    align-items: center;
    max-width: 100px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #342dfd;
    display:none;
    transition: transform 1.3s ease-in-out ;
}

.form-box.active:hover{
    transform:translateY(-50px);
}
.form-box {
    width: 100%;
    max-width: 450px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    position: relative;
    
}

.form-box:hover {
   transform : translateY(-3px);
}
h1 {
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
    
}

input ,
select {
width: 100%;
padding: 12px;
background-color: white;
border-radius: 6px;
border: none;
outline: none;
font-size: 16px;
color: #333;
margin-bottom: 20px; 

}

button{
     width: 100%;
    padding: 12px;
    background:#c6fd2d ;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #342dfd ;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.5s; 
}

button:hover{
    background: #22c1c3 ;
    width: 100px;
    border: 3px solid white;
    color: wheat;
    border-radius: 40px;
 
}

p {
    color: #3fd7fb;
    margin-left: 10px;
    text-align: center;

}
p a {
 color :white;
 margin-right: 10px;
 text-decoration: none;;

}
p a:hover{
    text-decoration:underline
}
.btnregister {
    justify-content: space-between;
    color: rgb(245, 245, 245);
    margin-left: 20px;
    padding-right:19px;
    border-radius: 30px;
    
}
.btnregister:hover {
    text-decoration: underline;
}
h1 {
  color: white;
}
.backdiv{
  margin-left:50px;
}
.backgroundimg{
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100px;
  width: 150px;
  background-color: transparent;
  color: white;
  border-radius: 20px;
  transition: 0.5s;
}

.backgroundimg:hover{
  border-radius: 25px;
  background-color: #c6fd2d;
  color: purple;
  width: 150px;
}

.themediv{
  margin-right:50px;
}

.theme{
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100px;
  width: 150px;
  background-color: transparent;
  color: white;
  border-radius: 20px;
  transition: 0.5s;
}

.theme:hover{
  border-radius: 25px;
  background-color: #c6fd2d;
  color: #333;
  width: 150px;
}
.form-box {
  margin: 0 auto;
  padding: 2em;
  width: 300px;
  background-color:#0b0d15 ;
  text-align: center;
  border-radius: 10px;
  position: relative;
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;

}

.form-box::after,.form-box::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 10px;
  animation: 3s spin linear infinite;
  
}
.form-box::before{
  filter: blur(1.5rem);
  opacity: 0.5;
}
.form-box::after{
    z-index: -2;
}
.form-box:hover::after{
  animation: infinite;
  filter: blur(1.5rem);
  opacity: 0.5;
  background: #0b0d15;
}
.form-box:hover::before{
  filter: blur(1.5rem);
  background: #0b0d15;
}


@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}